* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Mega', sans-serif;
    font-size: 10px;
    color: #e0def4;
    background-color: #232136;
}

.container {
    display: grid;
    grid-template-rows: 5rem 1fr 10rem;
    gap: 5px;
    width: 100vw;
    height: 100vh;
}

#c1 {
    grid-template-areas: 
        's h h'
        's m m'
        'f f f';
}

#c2 {
    grid-template-areas: 
        's h h'
        's m m'
        's f f';
}

.header {
    grid-area: h;
    padding-top: 10px;
}

.top {
    display: flex;
    flex-direction: row;
}

.side1 {
    grid-area: s;
    padding-left: 10px;
}

.side2 {
    grid-area: s;
    background-color: #6e6a86;
    text-align: end;
}

.side2 * {
    background-color: #6e6a86;
}

li {
    list-style-type: none;
    margin-right: 3rem;
}

a:visited, a:link, a:active {
    text-decoration: none;
}

.main {
    grid-area: m;
    padding-left: 20px;
    width: fit-content;
}

label {
    display: inline-block;
    margin-bottom: 10px;
}

textarea {
    color: #eb6f92;
}

.note * {
    vertical-align: top;
}

.savedelete {
    text-align: end;
}

button {
    border: none;
}

#b2 {
    color: #eb6f92;
}

footer {
    grid-area: f;
    text-align: center;
}

.socials {
    padding: 10px;
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook {
    background: #31748f;
    color: #e0def4;
}

.fa-twitter {
    background: #55ACEE;
    color: #e0def4;
}

/* Responsive - Mobile (max 560px) */ 

@media screen and (max-width: 560px) {

    .side2 {
        width: fit-content;
    }
    .top {
        justify-content: flex-start;
    }
    .side2 * {
        font-size: 10px;
    }

}
/* Responsive - Desktop (min 561px) */ 

@media screen and (min-width: 561px) {

    .container {
        grid-template-columns: 250px 1fr;
    }
    .side2 {
        padding-right: 10px;
    }
    .top {
        justify-content: flex-end;
    }
    .side2 * {
        font-size: 15px;
    }
    
}